<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <ul class="list-group">
	<% @events.each do |event| %>
	    <li class="list-group-item">
			<tr>
				<td><%= link_to event.name, event_path(event) %>
				<td><%= link_to 'attendees', event_attendees_path(event), :class => "btn btn-default" %></td>
				<td><%= link_to 'location', event_location_path(event), :class => "btn btn-default" %></td>
				<td><%= link_to " (XML)", event_path(event, :format => :xml), :class => "btn btn-default"%></td>
				<td><%= link_to " (JSON)", event_path(event, :format => :json), :class => "btn btn-default" %></td>
				<td><%= link_to 'Show', event_path(event), :class => "btn btn-default" %></td>
				<td><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %></td>
				<td><%= button_to 'delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-warning", :form => { :style => "display:inline-block" } %></td>
			</tr>
	    </li>
	<% end %>  
  </ul>
</div>






<%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
<%= link_to "Atom feed", events_path(:format => :atom), :class => "btn btn-default" %>
<%= paginate @events %>