<div class="panel panel-info">
	<!-- Default panel contents -->
	<div class="panel-heading">
	Welcome!
		<div class="pull-right">
			<% if current_user %>
				Hi!, 
				<%= current_user.email.split("@").first %>
				<%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
				<%= link_to('修改密碼', edit_registration_path(:user)) %>
			<% else %>
				Sign in to learn more!
				<%= link_to('註冊', new_registration_path(:user)) %> |
				<%= link_to('登入', new_session_path(:user)) %>
			<% end %>				
		</div>
	</div>
	<div class="panel-body">
		<%= form_tag events_path, :method => :get do %>
			<%= text_field_tag "keyword" %>
			<%= submit_tag "Search", :class => "btn btn-default" %>
		<% end %>
	</div>
	<!-- Table -->
	<ul class="list-group">
		<li class="list-group-item">
			Sort by:
			<%= link_to 'event',events_path( :order => "name") %>
		</li>
		<%= form_tag bulk_update_events_path do %>
			<% @events.each do |event| %>
			    <li class="list-group-item">
				    <tr>
						<td>
							<%= check_box_tag 'ids[]', event.id, false %>
							<div class="btn btn-default">
								<%= link_to event.name, event_path(event) %>								
							</div>
						</td>
						<td><%= link_to 'attendees', event_attendees_path(event), :class => "btn btn-default" %></td>
						<td><%= link_to 'location', event_location_path(event), :class => "btn btn-default" %></td>
						<td><%= link_to '(XML)', event_path(event, :format => :xml), :class => "btn btn-default"%></td>
						<td><%= link_to '(JSON)', event_path(event, :format => :json), :class => "btn btn-default" %></td>
						<td><%= link_to 'Show', event_path(event), :class => "btn btn-default" %></td>
						<td><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %></td>
						<td><%= link_to 'delete', event_path(event), 
							:method => :delete, 
							:data => { :confirm => "Are you sure?" }, 
							:class => "btn btn-warning" %>
						</td>
				    </tr>
			    </li>
			<% end %>
			<li class="list-group-item">
				<%= submit_tag "delete", :class => "btn btn-danger" %>
				<%= submit_tag "update", :class => "btn btn-success" %>
			</li>
		<% end %>
	</ul>
	
	<div class="panel-footer">
		<%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
		<%= link_to "Atom feed", events_path(:format => :atom), :class => "btn btn-default" %>
		<%= paginate @events %>
	</div>
</div>
